lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

data
oauth.js

# Vagrant
.vagrant/
*.box

# Chef
chef/.chef/
chef/cookbooks/**/metadata.json
chef/Berksfile.lock
chef/.berkshelf/
